<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Магазин канцелярских товаров</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-4">
    <a class="navbar-brand" th:href="@{/index}">Магазин канцелярских товаров</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex"></span>
        <button class="btn btn-outline-dark m-lg-1" type="submit"
                sec:authorize="!isAuthenticated()||hasAnyAuthority('USER')">
          <i class="bi-cart-fill me-1"></i>
          <span class="badge bg-dark text-white ms-1 rounded-pill">
                        <th:block th:number="${#lists.size(orders)}"></th:block>
                    </span>
        </button>
        <div sec:authorize="!isAuthenticated()">
          <a class="btn btn-outline-dark m-lg-1" th:href="@{/login}">
            <i class="bi bi-box-arrow-in-left"></i>
            Войти
          </a>
          <a class="btn btn-outline-dark m-lg-1 text-sm-end" th:href="@{/register}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            Регистрация
          </a>
        </div>
        <div sec:authorize="hasAnyAuthority('ADMIN')">
          <a class="btn btn-outline-dark m-lg-1" th:href="@{/private-area}">
            <i class="bi bi-door-open"></i>
            Личный кабинет
          </a>
        </div>
        <div sec:authorize="isAuthenticated()">
          <a class="btn btn-outline-dark m-lg-1" th:href="@{/logout}">
            <i class="bi bi-box-arrow-right"></i>
            Выйти
          </a>
        </div>
      </form>
    </div>
  </div>
</nav>

  <div class="container pt-5">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-10 col-md-12 col-lg-9 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4 rounded-3">
                <h2 class="text-start text-center mb-4 pt-2">Добавление товара</h2>
                <form
                        th:method="post"
                        th:action="@{/create-product}"
                        th:object="${product}"
                        enctype="multipart/form-data">
                  <div class="form-outline mb-4 p-md-1">
                    <input type="text" id="form3Example1cg" class="form-control form-control"
                           placeholder="Название" th:field="*{name}"/>
                  </div>

                  <th:block th:switch="${#lists.size(categories)}">
                    <div th:case="0">
                      <div class="form-outline mb-4 p-md-1">
                        <input type="text" id="form3Example3cg" class="form-control form-control"
                               placeholder="Категория товара" th:field="*{category}"/>
                      </div>
                    </div>
                    <div th:case="*">
                      <div class="form-outline mb-4 p-md-1">
                        <select class="form-select" aria-label=".form-select-sm example"
                                th:field="*{category}" >
                          <option th:each="category: ${categories}" th:value="${category.categoryName}" th:text="${category.categoryName}"></option>
                        </select>
                      </div>
                    </div>
                  </th:block>
                  <div class="form-outline mb-4 p-md-1">
                    <input type="number" id="form3Example4cg" class="form-control form-control"
                           placeholder="Цена(в Рублях)" th:field="*{cost}"/>
                  </div>
                  <div class="form-outline mb-4 p-md-1">
                    <input type="text" id="form3Example1cg" class="form-control form-control"
                           placeholder="Дополнительная информация" th:field="*{additionalInfo}"/>
                  </div>

                    <div class="form-group">
                      <input type="file" name="image" accept="image/*" class="form-control-file">
                    </div>

                  <div class="d-flex justify-content-center mt-3">
                    <button type="submit"
                            class="btn btn-dark btn-block btn-lg text-white">
                      Добавить
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Footer-->
<footer class="py-3 bg-dark flex-grow-1 fixed-bottom">
  <div class="container">
    <p class="m-2 text-center text-white">Copyright &copy; Магазин канцелярских товаров 2023</p>
  </div>
</footer>
<!-- Bootstrap core JS-->
</body>
</html>
