<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Магазин канцелярских товаров</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-4">
        <a class="navbar-brand" th:href="@{/index}">Магазин канцелярских товаров</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Главная</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Категории</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" th:switch="${#lists.size(categories)}">
                        <th:block th:case="0">
                            <li>
                                <form
                                        th:method="post"
                                        sec:authoriza="isAuthenticated() && hasAuthority('ADMIN')"
                                        th:action="@{/add-category}"
                                        th:object="${addCategory}">
                                    <div class="align-items-center">
                                        <label>
                                            <input type="text" class="form-control" placeholder="Название категории" th:field="*{categoryName}">
                                        </label>
                                        <button type="submit" class="btn btn-outline-success">Добавить</button>
                                    </div>
                                </form>
                            </li>
                        </th:block>
                        <th:block th:case="*" th:each="category: ${categories}">
                            <li>
                                <a class="dropdown-item" th:href="@{'/products/' + ${category.getCategoryName()}}"
                                   th:text="${category.getCategoryName()}">
                                </a>
                                <i class="bi bi-x-lg" type="button" th:action="@{'/delete-category/' + ${category.getId()}}" th:method="post"></i>
                            </li>
                        </th:block>
                        <li>
                            <form
                                    th:method="post"
                                    sec:authoriza="isAuthenticated() && hasAuthority('ADMIN')"
                                    th:action="@{/add-category}"
                                    th:object="${addCategory}">
                                <div class="align-items-center">
                                    <label>
                                        <input type="text" class="form-control" placeholder="Название категории" th:field="*{categoryName}">
                                    </label>
                                    <button type="submit" class="btn btn-outline-success">Добавить</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-dark m-lg-1" th:href="@{/create-product-form}">
                    <i class="bi bi-bag-plus"></i>
                    Добавить товар
                </a>
                <button class="btn btn-outline-dark m-lg-1" type="submit"
                        sec:authorize="!isAuthenticated()||hasAnyAuthority('USER')"
                th:href="@{/shopping-cart}">
                    <i class="bi-cart-fill me-1"></i>
                    <span class="badge bg-dark text-white ms-1 rounded-pill">
                        <th:block th:number="${#lists.size(orders)}"></th:block>
                    </span>
                </button>
                <div sec:authorize="!isAuthenticated()">
                    <a class="btn btn-outline-dark m-lg-1" th:href="@{/login}">
                        <i class="bi bi-box-arrow-in-left"></i>
                        Войти
                    </a>
                    <a class="btn btn-outline-dark m-lg-1 text-sm-end" th:href="@{/register}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                        </svg>
                        Регистрация
                    </a>
                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN')">
                    <a class="btn btn-outline-dark m-lg-1" th:href="@{/private-area}">
                        <i class="bi bi-door-open"></i>
                        Личный кабинет
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-dark m-lg-1" th:href="@{/logout}">
                        <i class="bi bi-box-arrow-right"></i>
                        Выйти
                    </a>
                </div>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark pt-4 pb-0">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-5 fw-bolder">Канцелярские товары для школы и офиса</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                <small>
                    <em>
                        У нас вы найдете все необходимое для учебы и работы: ручки, карандаши, блокноты, скрепки и
                        многое
                        другое
                    </em>
                </small>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <form
                        th:method="get"
                        th:action="@{/search}"
                        th:object="${searchModel}">
                    <div class="search">
                        <label>
                            <input type="text" class="form-control" placeholder="Название товара" th:field="*{keyword}">
                        </label>
                        <label>
                            <input type="number" class="form-control-sm" placeholder="Цена от" th:field="*{minCost}">
                            <input type="number" class="form-control-sm" placeholder="Цена до" th:field="*{maxCost}">
                            <select class="form-select" th:field="*{new}">
                                <option value="true">Сначала новые</option>
                                <option value="false">Сначала старые</option>
                            </select>
                        </label>
                        <button class="btn btn-outline-light">Найти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>


<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:switch="${#lists.size(products)}">
                <span class="text-center" th:case="0">Нет товаров</span>
                <div th:case="*" th:each="product : ${products}">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" th:src="${product.photo.path}" alt=""/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">
                                        <th:block th:text="${product.name}"></th:block>
                                    </h5>
                                    <!-- Product price-->
                                    <th:block th:number="${product.cost}"></th:block>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" th:href="@{/add-to-cart}">В корзину</a>
                                </div>
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" th:href="@{/product-info}">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-3 bg-dark flex-grow-1 fixed-bottom">
    <div class="container">
        <p class="m-2 text-center text-white">Copyright &copy; Магазин канцелярских товаров 2023</p>
    </div>
</footer>
<!-- Bootstrap core JS-->
</body>
</html>
