<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Holz&Steel</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/saw-icon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-4">
        <a class="navbar-brand" th:href="@{/index}">Holz&Steel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-dark m-lg-1" th:href="@{/logout}">
                        <i class="bi bi-box-arrow-right"></i>
                        Выйти
                    </a>
                </div>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark pt-4 pb-0">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-5 fw-bolder">Кабинет администратора</h1>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="container row">
            <div class="navbar-nav align-items-center justify-content-center row-cols-md-5">
                <a class="btn btn-outline-dark m-lg-1" th:href="@{/users}">
                    <i class="bi bi-people-fill"></i>
                    Список пользователей
                </a>
                <a class="btn btn-outline-dark m-lg-1" th:href="@{/orders}">
                    <i class="bi bi-newspaper"></i>
                    Список заказов
                </a>
                <div>
                    <form
                            th:method="get"
                            th:action="@{/search-order}"
                            th:object="${orderSearchModel}">
                        <div class="search justify-content-center mx-auto">
                            <label>
                                <input type="number" class="form-control" placeholder="Номер заказа"
                                       th:field="*{keyword}">
                            </label>
                            <button class="btn btn-outline-dark">Найти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered text-center" style="width: 100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Почта пользователя</th>
                    <th>Дата</th>
                    <th>Общая стоимость</th>
                    <th>UUID</th>
                    <th>Статус</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:number="${order.id}">ID</td>
                    <td th:text="${order.userEmail}">Никнейм</td>
                    <td th:text="${order.orderDate}">Дата</td>
                    <td th:text="${order.totalCost}">Общая стоимость</td>
                    <td th:text="${order.uuid}">UUID</td>
                    <td th:text="${order.status.name()}">Статус</td>
                    <td>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Сменить статус</option>
                            <option value="IN_CART">В корзине</option>
                            <option value="PENDING">Ожидание</option>
                            <option value="PROCESSED">Обработан</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="py-3 bg-light flex-grow-1 fixed-bottom">
    <div class="container align-content-center text-center">
        <a class="icon-link" href="mailto:most-bel@mail.ru">
            <i class="bi bi-envelope">Пишите</i>
        </a>
        <a class="icon-link" href="tel:+375(25)512-65-83">
            <i class="bi bi-telephone-inbound">Звоните</i>
        </a>
    </div>
    <div class="container">
        <p class="m-2 text-center text-black">Copyright&copy; ООО «Торговый дом «МОСТ»» 2023</p>
    </div>
</footer>
<!-- Bootstrap core JS-->
</body>
</html>
