<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Holz&Steel</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/saw-icon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/additionals.css}" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: url('uploads/saw_circular.jpg');">
    <div class="container px-4 px-lg-4">
        <div class="row-vertical justify-content-lg-start">
            <div class="col">
                <a class="navbar-brand" th:href="@{/index}">
                    <!-- <img src="assets/logo.png" alt="no logo" style="width: 90px"> -->
                    <h4 class="text-white mt-3">ООО Торговый дом МОСТ</h4>
                </a>
            </div>
            <div class="col">
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
                    <div class="btn-group-vertical">
                        <a class="btn btn-outline-dark m-lg-1 text-white-50" th:href="@{/}">
                            Ленточные пилы
                        </a>
                        <a class="btn btn-outline-dark m-lg-1 text-white-50" th:href="@{/}">
                            Дисковые пилы
                        </a>
                        <a class="btn btn-outline-dark m-lg-1 text-white-50" th:href="@{/}">
                            Оборудование
                        </a>
                        <a class="btn btn-dark m-lg-1 text-white disabled" th:href="@{/requisites}">
                            Реквизиты
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container" >
    <ul class="list-group list-group-flush d-flex justify-content-center text-start pb-3 pt-3">
        <li class="list-group-item" >
            <img src="assets/logo.png" alt="...">
        </li>
        <li class="list-group-item">
            ООО «Торговый дом «МОСТ»»
        </li>
        <li class="list-group-item">
            Юридический и почтовый адрес:
            223053, Минская область, Минский район, Боровлянский с/с, д.1, каб.441, район д.Боровая, корпус главный
        </li>
        <li class="list-group-item">
            Банковские реквизиты:
            р/с BY07 UNBS 3012 0421 2100 1001 0933 в
            ЗАО «БСБ Банк», БИК: UNBSBY2X
            пр-т Победителей, д.23/3.
        </li>
        <li class="list-group-item mb-3">
            УНН 692 160 924
            ОКПО 504058486000
        </li>
    </ul>
</div>
<!-- Footer-->
<footer class="py-3 bg-light flex-grow-1 fixed-bottom"  style="background-image: url('uploads/saw_circular.jpg');">
    <div class="container align-content-center text-center">
        <a class="icon-link" href="mailto:most-bel@mail.ru">
            <i class="bi bi-envelope">Написать письмо</i>
        </a>
        <a class="icon-link m-2" href="tel:+375(25)512-65-83">
            <i class="bi bi-telephone-inbound">Позвонить</i>
        </a>
    </div>
    <div class="container">
        <p class="m-2 text-center text-white">Copyright&copy; ООО «Торговый дом «МОСТ»» 2023</p>
    </div>
</footer>
<!-- Bootstrap core JS-->
</body>
</html>
